{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["prettier", "node"],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "no-undef": "error"
  }
}
